*{
font-family: FontAwesome, JetBrainsMono;
font-size: 16px;
/*min-height: 20;*/
}
window#waybar {
background-color: #0e0e0e ;
color: #bbbbbb;
opacity: 1
}
window#waybar.hidden {
opacity: 0.2;
}
window#waybar.top #window {
  padding: 0 10; 
  background-color: #bbbbbb;
  color:#0e0e0e;
}
window#waybar.empty #window {
  background-color:#0e0e0e;
}

#workspaces button {
    border : none;
    border-radius: 0;
    padding: 0 4px;
    color: #bbbbbb;
}

/*#workspaces button:hover {
  background: inherit;
  box-shadow: inset 0 -2px #bbbbbb;

} */

#workspaces button.active {
  background: #bbbbbb;
  color:#0e0e0e;
}

#workspaces button.urgent {
    background-color: #bb0000;
}

#mpd {

}
#mpd.playing{
  color: #33cc33
}
#mpd.paused {
 color:  #bbbbbb;
 }
 #mpris.paused {
   color:#bbbbbb;
 }
