*{
font-family: FontAwesome, JetBrainsMono;
font-size: 16px;
/*min-height: 0;*/
}
window#waybar {
background-color: #0e0e0e ;
color: #ffffff;
opacity: 0.85
}
window#waybar.hidden {
opacity: 0.2;
}
window#waybar.top #window {
  padding: 0 10; 
  background-color: #ffffff;
  color:#0e0e0e;
}
window#waybar.empty #window {
  background-color:#0e0e0e;
}
button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -2px #bbbbbb;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}
#workspaces button.active {
  background: #ffffff;
  color:#0e0e0e;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}
#mpd {
  font-size: 16px;
}
#mpd.paused {
 color:  #bbbbbb;
 }
 #mpris.paused {
   color:#bbbbbb;
 }
