@define-color colo_bg #0e0e0e ;
@define-color color_txt #bbbbbb ;
* {
  font-family:FontAwesome, JetBrainsMono, JetBrainsMonoNerd;
  font-size: 16px;
  border: none; 
  border-radius:0
}

.background {
background: @color_bg
}

.launcher {
background: @color_bg
}
.launcher .item {
/*  margin-right: 2px;*/
/*  border-radius:10px;*/
  background:@color_bg;
}

.launcher .focused {
  background:@color_txt;
}

.launcher .item.urgent {
  background:#bb0000;
}

.popup-launcher {
  background-color:#ff0000;
}

.popup-launcher .popup-item {
  background:#0e0e0e;
}
